$bg: white;
$bg_2: cornsilk;
$primary: #A26ECE;
$border: 1px solid $primary;
$gutter: 30px;

body {
  background: $bg;
}

.gutter-top {
  margin-top: $gutter;
}

.gutter-bottom {
  margin-bottom: $gutter;
}

a, a:hover, a:active { color: $primary; }

header {
  background: $bg_2;
  border-bottom: $border;
  margin-bottom: $gutter;
  padding: $gutter/2;
  h1 { margin: 0; }
}

.machine-patches {
  .patches {
    column-gap: $gutter;
    -webkit-column-gap: $gutter;
    -moz-column-gap: $gutter;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
}

/* md and up */

@media (min-width: 992px) {
  .machine-patches .patches {
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
  }
}